.form-control[type="email"] {
    border-color: #000000;
    border-width:1px;
}

.form-control[type="text"] {
    border-color: #000000;
    border-width:1px;
}

textarea.form-control{
    border-color: #000000;
    border-width:1px;
}

.lottie {
    display:flex;
    justify-content: center;
    align-items: center;

}