.form-control[type="email"] {
    border-color: #000000;
    border-width:1px;
}

.form-control[type="text"] {
    border-color: #000000;
    border-width:1px;
}

textarea.form-control{
    border-color: #000000;
    border-width:1px;
}

.lottie {
    text-align: center;
}

.lottie dotlottie-player {
    display: inline-block;
}

iframe{
    width:1518px;
}

#lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

@media screen and (max-width: 500px) {
    iframe{
        width:375px;
    }
}