.game-responsive-img{
    background-image: url('/FED_Assignment_2/images/nighttime-nature-landscape-galaxy-mountain-water-star-beauty-generative-ai.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game-responsive-img h1 {
    color: white;
    font-size: 40px; 
}

.rules{
    text-align: center;
    margin-top:30px;
}

.rules p{
    font-size: 20px
}

.rules h2{
    font-size: 30px;
    text-decoration: underline;
}

#userPointsDisplay{
    text-align: center;
    font-size:22px;
    background-color: white;
    position:absolute;
    color: black;
    top: 5%;
    left: 12%;
    padding:10px 0;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    width:400px;
    border-radius:20px;
}

.game2-responsive-img{
    background-image: url('/FED_Assignment_2/images/arrangement-black-friday-shopping-carts-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    margin-top:40px;
    padding: 0;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game2-responsive-img button{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.text_above_button{
    text-align:center;
    color: white;
    font-size:30px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%);
    font-weight:700;
}
