.game-responsive-img{
    background-image: url('/FED_Assignment_2/images/nighttime-nature-landscape-galaxy-mountain-water-star-beauty-generative-ai.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game-responsive-img h1 {
    color: white;
    font-size: 40px; 
}

.rules{
    text-align: center;
    margin-top:30px;
    color:black;
}

.rules p{
    font-size: 20px
}

.rules h2{
    font-size: 30px;
    text-decoration: underline;
}

#userPointsDisplay{
    text-align: center;
    font-size:22px;
    background-color: white;
    position:absolute;
    color: black;
    top: 5%;
    left: 12%;
    padding:10px 0;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    width:400px;
    border-radius:20px;
}

.game2-responsive-img{
    background-image: url('/FED_Assignment_2/images/arrangement-black-friday-shopping-carts-with-copy-space.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    margin-top:40px;
    padding: 0;
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game2-responsive-img button{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.text_above_button{
    text-align:center;
    color: white;
    font-size:30px;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%);
    font-weight:700;
}

.social-icon img {
    width: 30px; 
    height: auto; 
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}

.chat-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.bot-message {
    text-align:center;
    background-color: rgb(53, 53, 53);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-message {
    background-color: rgb(241, 253, 255);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color:black;
    text-align: center;
}

input[type="text"] {
    width: 460px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.bot-button {
    padding: 10px 20px;
    width:460px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bot-button:hover {
    background-color: #0056b3;
}