body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
header {
    background-color: #fffbf7;
    color: #fff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    position: relative;
}

.logo {
    margin-top:20px;
    margin-bottom:20px;
    max-width: 80px; 

}

.logo-container {
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
}

.additional-logo {
    max-width: 30px;
    margin-left: 10px;
    margin-right:20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #9f9a94; 
    padding: 2px;
}
nav a {
    color: #fff;
    font-size:20px;
    font-weight:700;
    text-decoration: none;
    padding: 10px;
    margin: 0px 25px;
    transition: color 0.3s;
            }
nav a:hover {
    color: gray; 
}

