.background-img{
    background-image: url('/FED_Assignment_2/images/black-white-minimal-portrait.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 120vh;
    display:block;
}

/* Button inside the background image */
.button{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: black;
    top: 73%;
    left: 10.5%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.button:hover {
    color:black;
}

/* Text inside background image */
.text_above_button{
    text-align:center;
    font-size: 24px;
    color: whitesmoke;
    position: absolute;
    top:62%;
    left: 25%;
    transform: translate(-50%);
}

/* Container for the 3 boxes */
.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box {
    width: 30%;

    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;

}

/* Image inside the box */
.box img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Adjust the scale factor for the close-up effect */
.box img:hover {
    transform: scale(1.1); 
}


/* Container for the 3 boxes */
.box-container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box-2 {
    width: 30%;

    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;

}

/* Image inside the box */
.box-2 img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Adjust the scale factor for the close-up effect */
.box-2 img:hover {
    transform: scale(1.1); 
}


/* Container for the 3 boxes */
.box-container-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box-3 {
    width: 23%;
    height:35%;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;
}

.bigbox-3{
    width: 30%;
    text-align: center;
    padding: 0px;
    padding-left:30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.bigbox-3 h2{
    width:40px;
    font-weight:200;
    border:0.3px solid;
}

.box-3 h2{
    width:40px;
    margin-left:40px;
    font-weight:200;
    border:0.3px solid;
}

/* Image inside the box */
.box-3 img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.bigbox-3 img{
    max-width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-text-3 {
    margin-top: 20px;
    margin-bottom:0px;
    font-size:20px;
    color:black;
}

/* Adjust the scale factor for the close-up effect */
.box-3 img:hover {
    transform: scale(1.1); 
}

.bigbox-3 img:hover {
    transform: scale(1.1); 
}

.men-video-background {
    position: relative;
    margin-top:150px;
    height: 90vh;
    overflow: hidden; /* Hide overflowing content */
}

/* Style the video to cover the entire container */
.men-video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Position text in the middle of the background */
.men-video-background h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: verdana
}

.star-rating {
    font-size: 30px;
    color: #ccc;
}

/* Change color for selected stars */
.star-rating.checked {
    color: #ffcc00;
}



/*Women.html*/
.women-background-img{
    background-image: url('/FED_Assignment_2/images/pisces-portrait-beautiful-woman.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: transparent;
    margin: 0;
    padding: 0;
    position: relative;
    height: 120vh;
    display:block;
}

/* Button inside the background image */
.button{
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: black;
    top: 73%;
    left: 10.5%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    font-weight: 600;
}

.button:hover {
    color:black;
}

/* Text inside background image */
.text_above_button{
    text-align:center;
    font-size: 24px;
    color: whitesmoke;
    position: absolute;
    top:62%;
    left: 25%;
    transform: translate(-50%);
}

/* Container for the 3 boxes */
.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box {
    width: 30%;

    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;

}

/* Image inside the box */
.box img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Adjust the scale factor for the close-up effect */
.box img:hover {
    transform: scale(1.1); 
}


/* Container for the 3 boxes */
.box-container-2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box-2 {
    width: 30%;

    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;

}

/* Image inside the box */
.box-2 img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Adjust the scale factor for the close-up effect */
.box-2 img:hover {
    transform: scale(1.1); 
}


/* Container for the 3 boxes */
.box-container-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
}

/* Box sizes which fit 3 boxes in a row */
.box-3 {
    width: 23%;
    height:35%;
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    text-decoration: none;
}

.bigbox-3{
    width: 30%;
    text-align: center;
    padding: 0px;
    padding-left:30px;
    margin-bottom: 20px;
    text-decoration: none;
}

.bigbox-3 h2{
    width:40px;
    font-weight:200;
    border:0.3px solid;
}

.box-3 h2{
    width:40px;
    margin-left:40px;
    font-weight:200;
    border:0.3px solid;
}

/* Image inside the box */
.box-3 img {
    max-width: 80%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.bigbox-3 img{
    max-width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-text-3 {
    margin-top: 20px;
    margin-bottom:0px;
    font-size:20px;
    color:black;
}

/* Adjust the scale factor for the close-up effect */
.box-3 img:hover {
    transform: scale(1.1); 
}

.bigbox-3 img:hover {
    transform: scale(1.1); 
}

.women-video-background {
    position: relative;
    margin-top:150px;
    height: 90vh;
    overflow: hidden; /* Hide overflowing content */
}

/* Style the video to cover the entire container */
.women-video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

/* Position text in the middle of the background */
.women-video-background h1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: verdana
}

.star-rating {
    font-size: 30px;
    color: #ccc;
}

/* Change color for selected stars */
.star-rating.checked {
    color: #ffcc00;
}