
.dropdown.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 0px;
  height: 200px !important;
}

.custom-dropdown {
  width: 300px;
}

.top-left-image {
  position: absolute;
  top: 27%;
  left: 0;
  margin: 30px;
  max-width: 20px;
  z-index: 1;
}

.box-container {
  margin-top: 20px;
}

.box {
  padding: 0px;
  margin-bottom: 20px;
}

.box img {
  max-width: 100%;
  height: 400px;
}

.hidden {
  display: none;
}

.form-group label {
  margin-left: 10px;
}

.custom-container {
  position: fixed;
  top: 0;
  background: transparent;
  height: 100vh;
  width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;

}

.cartTab {
  position: relative;
  width: 90%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 25px 40px #1687d933;
  pointer-events: auto;
  overflow-y: auto;
}

.cartTab p {
  font-size: 20px;
}

.Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Heading {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.Action {
  font-size: 18px;
  font-weight: 600;
  color: #E44C4C;
  cursor: pointer;
  border-bottom: 1px solid #E44C4C;
}


.shopping-cart-list {
  list-style: none;
  padding: 0;
}

.shopping-cart-list li {
  margin-bottom: 50px;
  margin-left: 100px;
}

.content-container {
  display: flex;
  align-items: center;
}

.content-container img {
  width: 130px;
  height: 150px;
  margin-right: 10px;
}

.content-container p {
  margin-left: 15px;
  font-size: 20px;
}



.plus-sign,
.one-sign,
.minus-sign {
  font-size: 24px;
  color: black;
  margin: 10px 0;
  margin-bottom: 28px;
  margin-left: 50px;
  margin-right: 0px;
}

.plus-sign,
.minus-sign {
  cursor: pointer;
}

.cart-button {
  position: fixed;
  bottom: 8%;
  left: 57%;
  transform: translateX(-50%);
  padding: 10px 60px;
  margin-bottom: 10px;
  border: none;
  background-color: black;
  color: whitesmoke;
  border-radius: 20px;
}


#total-price {
  position: fixed;
  bottom: 13.5%;
  left: 51.3%;
  font-size: 20px;
}


#loading-animation {
  width: 300px;
  height: 300px;
}

.box-container {
  display: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background-image: url("/FED_Assignment_2/images/fast-fashion-vs-slow-sustainable-fashion.jpg");
  background-size: cover;
  background-position: center;
}

.women-background {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background-image: url("/FED_Assignment_2/images/closeup-gray-sofa-with-basket-folded-clothes-small-table-near-it.jpg");
  background-size: cover;
  background-position: center;
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
   height: 60px;
   text-indent: 25px;
   border: 2px solid #d6d4d4;
}

.search input:focus{
   box-shadow: none;
   border: 2px solid blue;
}

.search .fa-search{
   position: absolute;
   top: 20px;
   left: 16px;
}

.search button{
   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: blue;
}

.box1 img {
  max-width: 100%;
  height: 200px;
}

.redeem-background {
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  background-image: url("/FED_Assignment_2/images/beautiful-gift-voucher-with-decoration.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom:40px;
}