#login-form{
    display: flex;
    justify-content: center;
    margin-top:70px;
}
#login-title{
    color: whitesmoke;
}
#login-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: rgba(62, 62, 62, 0.3);
    width: 700px;
    margin: 25px;
}
#sign-in{
    background-color: black;
    color: white;
    width: 130px;
    height: 35px;
    font-size: 20px !important;
    border-radius: 10px;
}
#identification input {
    width: 350px;
    height: 25px;
    margin: 7px;
}
#identification{
    display: flex;
    flex-direction: column;
}
#remember-password{
    display: flex;
    flex-direction: row;

}
#remember-password p {
    color: whitesmoke;
    margin-left: 5px;
}
#account{
    display: flex;
    justify-content: space-evenly;
}
#account a{
    margin: 25px;
    color: whitesmoke;
}

.signin-background{
    background-image: url('/FED_Assignment_2/images/woman-with-flying-hair.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: transparent;
    padding: 0;
    position: relative;
    display:block;
    z-index: -1;
}

.chat-container {
    position:fixed;
    z-index: 99;
    left:33%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.bot-message {
    text-align:center;
    background-color: rgb(53, 53, 53);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.user-message {
    background-color: rgb(241, 253, 255);
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color:black;
    text-align: center;
}

input[type="Message"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.bot-button {
    padding: 10px 20px;
    padding: 10px 20px;
    width: calc(100% - 0px);
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.bot-button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 500px){
    .chat-container {
        left:5%;
        max-width:328px;
    }
    
    .chat-box {
        height: 300px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
}