body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#fffcf7;
}

.image-container {
    position: relative;
    height: 100vh;
    overflow: hidden; 
}

.Home-image{
    width: 100%;
    object-fit: cover;
}

.navbar {
    background-color: rgba(0, 0, 0, 0); 
    padding: 10px;
    position: absolute;
    width: 44%;
    top: 1.5%;
    left: 28%;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}

.navbar a:hover {
    border-bottom: 2.5px solid white;
}

.logo-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 4.1%;
    right: 14%;
}

.logo {
    width: 25px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    filter: brightness(1.5) invert(1);
}

.branding {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 34px;
    font-weight:700;
}

.buttons-container {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    margin: 0px;
    padding: 18px 65px;
    background-color: rgba(203, 19, 19, 0.889); 
    color: whitesmoke; 
    text-decoration: none;
    border: 1px solid #000; 
    border-radius: 20px;
    font-size: 16px;
}

.button2{
    margin: 0px;
    padding: 18px 65px;
    background-color: rgba(33, 28, 28, 0.889); 
    color: whitesmoke; 
    text-decoration: none;
    border: 1px solid #000; 
    border-radius: 15px;
    font-size: 16px;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    flex-direction: row;
    flex-wrap: wrap; /* Allow boxes to wrap to the next line if the screen is too small */
    height: 65vh;
}

.box {
    width: 23%;
    border: 0.2px solid #ccc;
    text-align: center;
    /*padding: 20px;*/
    margin:10px;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.box-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}
/*.box img {
    max-width: 100%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}*/
.center-content {
    text-align: center;
}

.box-button{
    margin:0px;
    padding: 13px 100px;
    background-color: white; 
    color: black; 
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
    border:none;
}

.box-text {
    margin-top: 10px;
    color:black;
}

.box h2{
    color: white;
    font-weight: 700;
    margin:0;
}


.background-responsive-img{
    background-image: url('/FED_Assignment_2/images/abstract-smooth-brown-wall-background-layout-designstudioroomweb-templatebusiness-report-with-smooth.jpg');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    margin: 0;
    margin-top:100px;
    padding: 0;
    position: relative;
    height: 80vh;
    display:block;
}

.background-responsive-img button{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0);
    font-size: 22px;
    border: none;
    border-radius:5px;
    position:absolute;
    color: whitesmoke;
    top: 62%;
    left: 50%;
    transform: translate(-50%); /*align the button to the center*/
    transition: color 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.background-responsive-img button:hover {
    color:gray;
}

/* Text inside background image */
.text_above_button{
    text-align:center;
    color: black;
    position: absolute;
    top:22%;
    left: 50%;
    transform: translate(-50%);
    font-weight:700;
}






#slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    height:90vh;
    margin-top: 140px;
    overflow: hidden;
    position: relative;
}

#image-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0); /* Adjust background color with transparency */
    padding: 20px; /* Adjust padding as needed */
}

.slide-content h3 {
    font-size: 80px;
    margin-bottom: 30px;
}

.slide-content p{
    font-size:20px;
}

.slide-button {
    padding: 12px 60px;
    margin-top:20px;
    font-size: 20px;
    background-color: #2664ff; /* Adjust button background color */
    color: whitesmoke; /* Adjust button text color */
    border: none;
    cursor: pointer;
}

#prev, #next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 70px;
    color:black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); 
    padding: 20% 5%; 
    border-radius: 0; 
    transition: background-color 0.3s ease;
    z-index: 2;
}

#prev:hover, #next:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}

#prev { left: 0px; }
#next { right: 0px; }

.social-icon img {
    width: 30px; 
    height: auto; 
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
}

#lottie{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

@media screen and (max-width: 500px){
    .image-container {
        position: relative;
        height: 87vh; /* Reduced height for smaller screens */
        overflow: hidden;
    }

    .Home-image {
        width: 100%;
        height: 680px; /* Adjusted for smaller screens */
        object-fit: cover;
    }

    .navbar {
        width: 25%;
        left: 40%;
    }
    
    .navbar a {
        color: white;
        text-decoration: none;
        padding: 10px 0px;
        display: block;
        display: inline-block;
        font-size: 18px;
        font-weight: 700;
    }

    .logo-container {
        right: 2%;
    }
    
    .logo {
        width: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    

    .branding {
        font-size: 28px; /* Reduced font size for smaller screens */
    }

    .buttons-container {
        position: absolute;
        bottom: 20%;
        left: 53%;
        transform: translateX(-50%);
        width:300px;
    }

    .button,
    .button2
    {
        margin: 0px;
        padding: 12px 30px;
        font-size: 16px;
    }

    .box-button {
        margin: 10px 0px; 
        padding: 10px 35px;
        font-size: 16px;
    }

    .content {
        text-align: center;
        margin-top: 10px; /* Reduced margin for smaller screens */
    }

    .box-container {
        display: flex;
        justify-content: center;
        margin-top: 0px; /* Reduced margin for smaller screens */
        flex-direction: column; /* Changed direction for smaller screens */
        height: 1200px; /* Adjusted height for smaller screens */
    }

    .box {
        width: 80%;
        height:350px;
        margin: 10px auto; /* Centered and adjusted margin for smaller screens */
    }

    .box-image {
        height: 100%; /* Adjusted height for smaller screens */
    }

    .box h2 {
        font-size: 20px; /* Reduced font size for smaller screens */
    }

    .background-responsive-img{
        margin-top:20px;
        margin-bottom:20px;
        height:110vh;
    }

    .background-responsive-img button{
        padding-right: 50px;
        padding-left: 50px;
        padding-top:15px;
        padding-bottom: 15px;
        font-size: 16px;
        top: 83%;
    }
    
    /* Text inside background image */
    .text_above_button{
        text-align:center;
        color: black;
        position: absolute;
        top:14%;
        left: 50%;
        transform: translate(-50%);
        font-weight:700;
    }

    #slider-container {
        margin-top:10px;
        height:800px;
    }

    #image-slider{
        height:800px;
    }

    .slide-content {
        top: 50%;
        color: #fff;
    }
    
    .slide-content h3 {
        font-size: 34px;
        margin-bottom: 0px;
    }
    
    .slide-button {
        padding: 10px 32px;
        margin-top:15px;
        font-size: 20px;
    }
    #prev, #next {
        font-size: 50px;
        color:black;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0); 
    }
}

