body {
    background-color:#999999;
  }
  
  h3 {
    color:white;
    position:absolute;
    top:20%;
    left:40%;
    font-size: 50px
  }
  
  h1 {
    color:white;
    margin-bottom:30px;
  }
  
  .gameboard {
    background-color:black;
    position:relative;
    margin:auto;
    height:24em;
    width:24em;
  }
  
  .square {
    height:8em;
    width:8em;
    margin:auto auto;
  }
  
  #cell1s {
    border-bottom:1px solid white;
  }
  
  #cell2s {
    border-left:1px solid white;
    border-right:1px solid white;
    border-bottom:1px solid white;
  }
  
  #cell3s {
    border-bottom:1px solid white;
    border-right:1px solid white;
  }
  
  #cell4s {
    border-bottom:1px solid white;
  }
  
  #cell5s {
    border-right:1px solid white;
    border-left:1px solid white;
    border-bottom:1px solid white;
  }
  
  #cell6s {
    border-bottom:1px solid white;
  }
  
  #cell8s {
  
    border-left:1px solid white;
    border-right:1px solid white;
  }
  
  .container-fluid {
    z-index: 2;
    position:fixed;
    background-color:rgba(20,20,20,0.5);
    height:150px;
    width:100%;
    bottom:50%;
    text-align: center;
  }